.cabecalho{
    width: 100px;
    height: 100px;

    background-color: var(--cor-primaria);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho h1{
    color: var(--cor-primaria);
    margin-left: 5%;
}

.cabecalho a{
    color: var(--branco-suave);
    margin-left: 5%;

    font-size: 1.5rem;
    text-decoration: none;
}
